.slideshow {
    overflow: hidden;
    max-width: 100%;
    /* height: 60vh; */
    position: relative;
}

.slideshow-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%;
    transition: transform 0.5s ease;
}

.slide-content {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}

.page-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 10;
}

.page-indicator {
    width: 13px;
    height: 13px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.page-indicator.active {
    width: 27px;
    height: 13px;
    background-color: #800080;
    border-radius: 10px;
}

.slide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.slide.active-slide {
    opacity: 1;
}
