.image-container {
    /* background-image: url('../../assets/onlineCourse.jpeg'); */
    background-image: url('https://images.pexels.com/photos/5905710/pexels-photo-5905710.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}